* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background-color: #333;
	color: white;
}

.nav-links {
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

.section-center {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 100px;
}

h1 {
	font-size: 3rem;
}

button {
	padding: 1rem 2rem;
	font-size: 1rem;
}
a {
	text-decoration: none;
	color: white;
}
